<div class="awful-play">
    <h1>Awful Wordplay</h1>
    <h4 class="subtitle">Like that other game, except with terrible shit</h4>

    <form name="wordPlay">
        <h3>Fill this shit out to play</h3>

        <div class="group" ng-repeat="form in wordForm">
            <span ng-if="form.valid" ng-bind="form.speech"></span>
            <span ng-if="!form.valid" class="error" ng-bind="errorType(form.speech)"></span>
            <input type="text" ng-model="form.model" placeholder="{{form.placeholder}}" ng-class="{error: !form.valid"} />
        </div>
    </form>

    <button ng-bind="submitText()" ng-click="checkForm()" ng-disabled="!buttonReady()" class="btn" ng-class="{ready: buttonReady()}"></button>
</div>