body {
  background-color: #FCFAF2;
}

.awful-play {
  h1, h4 {
    text-align: center;
  }

  h1 {
    font-weight: bold;
  }

  h4 {
    color: #C70E17;
  }

  form {
    color: #A4A29B;

    border: 1px solid #E3E2DD;
    border-radius: 4px;
    margin-top: 30px;
    padding: 0px 20px 20px;

    .group {
      display: inline-block;
      margin: 10px 10px;
      width: 46%;

      span {
        display: block;
        font-size: 13px;
        text-indent: 9px;

        &.error {
          color: #CE0A24;
        }
      }

      input {
        border-radius: 3px;
        border: 1px solid #A4A29B;
        -webkit-box-shadow:
          inset 0 0 8px  rgba(0,0,0,0.1),
                0 0 16px rgba(0,0,0,0.1);
        -moz-box-shadow:
          inset 0 0 8px  rgba(0,0,0,0.1),
                0 0 16px rgba(0,0,0,0.1);
        box-shadow:
          inset 0 0 8px  rgba(0,0,0,0.1),
                0 0 16px rgba(0,0,0,0.1);
        background: rgba(255,255,255,0.5);
        color: black;
        font-size: 18px;
        padding: 9px 0;
        text-indent: 8px;
        width: 100%;

        &.error {
          color: #CE0A24;
          text-decoration: line-through;
        }
      }
    }
  }

  button {
    background: #A9A7A1;
    border: 0px;
    color: #FCFAF2;
    display: block;
    font-size: 17px;
    font-weight: bold;
    margin: 36px auto;
    padding: 10px 17px;
    text-align: center;

    &.ready {
      background: #CE0A24;
    }
  }
}