<!DOCTYPE html>
<html>
<head>
  <title>AwfulWordplay</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="awfulWordplayApp">
<!--[if lt IE 7]>
  <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<!-- Add your site or application content here -->
    <div class="container">
        <div ng-view=""></div>
    </div>

    <%= javascript_include_tag 'application' %>
</body>
</html>
